@tailwind base;
@tailwind utilities;
@tailwind components;


html, body {
  overflow-x: hidden;
}

h1 {
  color: white;
}

.skills h4 {
  background: linear-gradient(to top, #010101 50%, #fd6a01 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects h4 {
  background: linear-gradient(to top, #fd6a01 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills h1 {
  font-size: 50px;
  font-weight: 800;
  color: white;
}

.card img {
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #888888;
}

.active p {
  color: greenyellow;
}

.circle {
  position: relative;
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 240px;
  }
  100% {
    left: 0;
  }
}

#globalLoader {
  position: fixed;
  z-index: 1700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  display: flex;
  flex-direction: column;
  left: 50%;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.loader {
  --clr: #3498db;
  /* color of spining  */
  width: 50px;
  height: 50px;
  position: relative;
}
.loader div:nth-child(1),
.loader div:nth-child(2) {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: var(--clr);
}
.loader div:nth-child(1) {
  z-index: 100;
  animation: spin 1s infinite;
}
.loader div:nth-child(2) {
  border: 10px solid #ccc;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.line {
  height: 8px;
  width: 200px;
  background-color: white;
  animation: shrink 4s ease-in-out infinite;
}

@keyframes shrink {
  0% {
    width: 200px;
  }

  50% {
    width: 0;
  }

  100% {
    width: 200px;
  }
}

.send-btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  width: 200px;
  height: 56px;
  font-weight: 700;
  font-size: 17px;
  border-radius: 10px;
  color: white;
  
}

.send-btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

input[type="text"], input[type="password"],input[type="email"], textarea {
  color: white;
}

input[type="text"]:focus{
  --tw-border-opacity: 1;
    border-color: rgb(184 9 195 / var(--tw-border-opacity));
}
input[type="email"]:focus{
  --tw-border-opacity: 1;
    border-color: rgb(184 9 195 / var(--tw-border-opacity));
}


footer a{
  color: white;
}
footer a:hover{
  color:limegreen;
  
  animation: swing 1s ease-in-out;
}

@keyframes swing {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(0deg);
  }
}